$font-size: 18px
$title-size: 2em

body
  font-family: Helvetica, sans-serif
  font-size: $font-size

.title
  font-size: $title-size

.label
  text-transform: uppercase

.btn,
.input-wrapper input
  font-weight: bold
